In [1]:
import pandas as pd
import numpy as np
from geopy.distance import geodesic
import math

#### Bringing in all the datasets

In [2]:
races = pd.read_csv('../data/nyra_race_table.csv')
races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   track_id         2000 non-null   object
 1   race_date        2000 non-null   object
 2   race_number      2000 non-null   int64
 3   distance_id      2000 non-null   int64
 4   course_type      2000 non-null   object
 5   track_condition  2000 non-null   object
 6   run_up_distance  2000 non-null   int64
 7   race_type        2000 non-null   object
 8   purse            2000 non-null   int64
 9   post_time        2000 non-null   int64
dtypes: int64(5), object(5)
memory usage: 156.4+ KB

In [3]:
starts = pd.read_csv('../data/nyra_start_table.csv')
starts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14915 entries, 0 to 14914
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   track_id        14915 non-null  object
 1   race_date       14915 non-null  object
 2   race_number     14915 non-null  int64
 3   program_number  14915 non-null  object
 4   weight_carried  14915 non-null  int64
 5   jockey          14915 non-null  object
 6   odds            14915 non-null  int64
dtypes: int64(3), object(4)
memory usage: 815.8+ KB

In [4]:
h_id = pd.read_csv('../data/horse_ids.csv')
h_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14916 entries, 0 to 14915
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       14916 non-null  int64
 1   track_id         14916 non-null  object
 2   race_date        14916 non-null  object
 3   race             14916 non-null  int64
 4   program_number   14916 non-null  object
 5   horse_id         14916 non-null  int64
 6   finishing_place  14916 non-null  int64
dtypes: int64(4), object(3)
memory usage: 815.8+ KB

In [5]:
h_names = pd.read_csv('../data/horse_names.csv')
h_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4638 entries, 0 to 4637
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4638 non-null   int64
 1   horse_id    4638 non-null   int64
 2   horse_name  4638 non-null   object
dtypes: int64(2), object(1)
memory usage: 108.8+ KB

In [6]:
tracking = pd.read_csv('../data/nyra_tracking_table.csv')
tracking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5228430 entries, 0 to 5228429
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   track_id        object
 1   race_date       object
 2   race_number     int64
 3   program_number  object
 4   trakus_index    int64
 5   latitude        float64
 6   longitude       float64
dtypes: float64(2), int64(2), object(3)
memory usage: 279.2+ MB

##### Merging all data sets

In [7]:
# merging Horse ID and Horse Name data sets
h_id = h_id[['track_id', 'race_date', 'race', 'program_number', 'horse_id', 'finishing_place']]
h_names = h_names[['horse_id', 'horse_name']]
horses = pd.merge(h_id, h_names, how='left', on='horse_id')
horses = horses.rename(columns = {'race' : 'race_number'})

# Adding in Starts data
starts['race_date'] = pd.to_datetime(starts['race_date'])
horses['race_date'] = pd.to_datetime(horses['race_date'])
# strip spaces in the starts program_number column
starts['program_number'] = starts['program_number'].str.strip()
# merge
st_h = pd.merge(starts, horses, how='outer', on=['track_id', 'race_date', 'race_number', 'program_number'])
st_h = st_h.dropna(subset='odds')

# Adding in race details
races['race_date'] = pd.to_datetime(races['race_date'])
ra_st_h = pd.merge(st_h, races, how='left', on=['track_id', 'race_date', 'race_number'])

# Adding in tracking data
tracking['program_number'] = tracking['program_number'].str.strip()
tracking['race_date'] = pd.to_datetime(tracking['race_date'])
full = pd.merge(ra_st_h, tracking, how='left', on=['track_id', 'race_date', 'race_number', 'program_number'])

#Because races that include jumps are so drastically different than flat races, and such a comparatively small proportion of races
#we decided to drop those from our data set for the majority of our analysis
full = full.loc[full['course_type'] != 'M']

full = full.sort_values(['track_id', 'race_date', 'race_number', 'program_number', 'trakus_index']).reset_index(drop=True)

full.head()

,track_id,race_date,race_number,program_number,weight_carried,jockey,odds,horse_id,finishing_place,horse_name,distance_id,course_type,track_condition,run_up_distance,race_type,purse,post_time,trakus_index,latitude,longitude
0,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,650,D,MY,36,AOC,80000,1220,1,40.669401,-73.829205
1,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,650,D,MY,36,AOC,80000,1220,2,40.669405,-73.829203
2,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,650,D,MY,36,AOC,80000,1220,3,40.669411,-73.829200
3,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,650,D,MY,36,AOC,80000,1220,4,40.669421,-73.829196
4,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,650,D,MY,36,AOC,80000,1220,5,40.669433,-73.829190

In [8]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5162881 entries, 0 to 5162880
Data columns (total 20 columns):
 #   Column           Dtype
---  ------           -----
 0   track_id         object
 1   race_date        datetime64[ns]
 2   race_number      int64
 3   program_number   object
 4   weight_carried   float64
 5   jockey           object
 6   odds             float64
 7   horse_id         int64
 8   finishing_place  int64
 9   horse_name       object
 10  distance_id      int64
 11  course_type      object
 12  track_condition  object
 13  run_up_distance  int64
 14  race_type        object
 15  purse            int64
 16  post_time        int64
 17  trakus_index     int64
 18  latitude         float64
 19  longitude        float64
dtypes: datetime64[ns](1), float64(4), int64(8), object(7)
memory usage: 787.8+ MB

In [11]:
#taking a look at the output of the geodesic function
#using feet because horse races are measured in fractions of a mile
geodesic([full['latitude'][0], full['longitude'][0]], [full['latitude'][1], full['longitude'][1]]).feet

1.7347089642202558

In [8]:
#adding columns that give the next lat and lon for each horse
full['n_lat'] = full.groupby(['track_id', 'race_date', 'race_number', 
                              'program_number'])['latitude'].shift(-1)
full['n_lon'] = full.groupby(['track_id', 'race_date', 'race_number', 
                              'program_number'])['longitude'].shift(-1)
full

,track_id,race_date,race_number,program_number,weight_carried,jockey,odds,horse_id,finishing_place,horse_name,...,track_condition,run_up_distance,race_type,purse,post_time,trakus_index,latitude,longitude,n_lat,n_lon
0,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,...,MY,36,AOC,80000,1220,1,40.669401,-73.829205,40.669405,-73.829203
1,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,...,MY,36,AOC,80000,1220,2,40.669405,-73.829203,40.669411,-73.829200
2,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,...,MY,36,AOC,80000,1220,3,40.669411,-73.829200,40.669421,-73.829196
3,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,...,MY,36,AOC,80000,1220,4,40.669421,-73.829196,40.669433,-73.829190
4,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,...,MY,36,AOC,80000,1220,5,40.669433,-73.829190,40.669448,-73.829184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5162876,SAR,2019-09-02,11,8,119.0,Luis Saez,110.0,2295,6,Mine the Coin,...,SY,32,MCL,40000,614,329,43.071944,-73.771727,43.071933,-73.771760
5162877,SAR,2019-09-02,11,8,119.0,Luis Saez,110.0,2295,6,Mine the Coin,...,SY,32,MCL,40000,614,330,43.071933,-73.771760,43.071922,-73.771792
5162878,SAR,2019-09-02,11,8,119.0,Luis Saez,110.0,2295,6,Mine the Coin,...,SY,32,MCL,40000,614,331,43.071922,-73.771792,43.071911,-73.771825
5162879,SAR,2019-09-02,11,8,119.0,Luis Saez,110.0,2295,6,Mine the Coin,...,SY,32,MCL,40000,614,332,43.071911,-73.771825,43.071899,-73.771858
5162880,SAR,2019-09-02,11,8,119.0,Luis Saez,110.0,2295,6,Mine the Coin,...,SY,32,MCL,40000,614,333,43.071899,-73.771858,NaN,NaN

In [12]:
full['seg_dist_ft'] = [geodesic([full['latitude'][i], full['longitude'][i]], 
                                              [full['n_lat'][i], full['n_lon'][i]]).feet
                       if pd.isna(full['n_lat'][i]) == False else float('nan') for i in range(len(full))]

In [13]:
full

,track_id,race_date,race_number,program_number,weight_carried,jockey,odds,horse_id,finishing_place,horse_name,...,run_up_distance,race_type,purse,post_time,trakus_index,latitude,longitude,n_lat,n_lon,seg_dist_ft
0,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,...,36,AOC,80000,1220,1,40.669401,-73.829205,40.669405,-73.829203,1.734709
1,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,...,36,AOC,80000,1220,2,40.669405,-73.829203,40.669411,-73.829200,2.408953
2,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,...,36,AOC,80000,1220,3,40.669411,-73.829200,40.669421,-73.829196,3.639469
3,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,...,36,AOC,80000,1220,4,40.669421,-73.829196,40.669433,-73.829190,4.522462
4,AQU,2019-01-01,1,1,123.0,Dylan Davis,130.0,1,2,Sounds Delicious,...,36,AOC,80000,1220,5,40.669433,-73.829190,40.669448,-73.829184,5.894653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5162876,SAR,2019-09-02,11,8,119.0,Luis Saez,110.0,2295,6,Mine the Coin,...,32,MCL,40000,614,329,43.071944,-73.771727,43.071933,-73.771760,9.501454
5162877,SAR,2019-09-02,11,8,119.0,Luis Saez,110.0,2295,6,Mine the Coin,...,32,MCL,40000,614,330,43.071933,-73.771760,43.071922,-73.771792,9.609339
5162878,SAR,2019-09-02,11,8,119.0,Luis Saez,110.0,2295,6,Mine the Coin,...,32,MCL,40000,614,331,43.071922,-73.771792,43.071911,-73.771825,9.743090
5162879,SAR,2019-09-02,11,8,119.0,Luis Saez,110.0,2295,6,Mine the Coin,...,32,MCL,40000,614,332,43.071911,-73.771825,43.071899,-73.771858,9.565229
5162880,SAR,2019-09-02,11,8,119.0,Luis Saez,110.0,2295,6,Mine the Coin,...,32,MCL,40000,614,333,43.071899,-73.771858,NaN,NaN,NaN

In [14]:
full['seg_speed_ft/s'] = full['seg_dist_ft']*4

full['seg_mph'] = 0.6818181818 * full['seg_speed_ft/s']

full['cum_dist_ft'] = full.groupby(['track_id', 'race_date', 'race_number', 
                              'program_number'])['seg_dist_ft'].cumsum()

full['avg_speed_ft/s'] = full['cum_dist_ft'] / (full['trakus_index']/4)

full['avg_mph'] = 0.6818181818 * full['avg_speed_ft/s']

full['seg_accel_ft/s2'] = 4 * full['seg_speed_ft/s'].diff()

full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5162881 entries, 0 to 5162880
Data columns (total 29 columns):
 #   Column           Dtype
---  ------           -----
 0   track_id         object
 1   race_date        datetime64[ns]
 2   race_number      int64
 3   program_number   object
 4   weight_carried   float64
 5   jockey           object
 6   odds             float64
 7   horse_id         int64
 8   finishing_place  int64
 9   horse_name       object
 10  distance_id      int64
 11  course_type      object
 12  track_condition  object
 13  run_up_distance  int64
 14  race_type        object
 15  purse            int64
 16  post_time        int64
 17  trakus_index     int64
 18  latitude         float64
 19  longitude        float64
 20  n_lat            float64
 21  n_lon            float64
 22  seg_dist_ft      float64
 23  seg_speed_ft/s   float64
 24  seg_mph          float64
 25  cum_dist_ft      float64
 26  avg_speed_ft/s   float64
 27  avg_mph          float64
 28  seg_accel_ft/s2  float64
dtypes: datetime64[ns](1), float64(13), int64(8), object(7)
memory usage: 1.1+ GB

In [16]:
full = full[['track_id', 'race_date', 'race_number', 'program_number', 'horse_id', 'weight_carried', 
                'jockey', 'odds', 'finishing_place', 'horse_name', 'course_type', 'track_condition',
                'race_type', 'purse', 'post_time', 'latitude', 'longitude', 'n_lat', 'n_lon', 'distance_id', 
                'run_up_distance', 'trakus_index', 'seg_dist_ft', 'seg_speed_ft/s', 'seg_mph', 'cum_dist_ft', 
                'avg_speed_ft/s', 'avg_mph', 'seg_accel_ft/s2']]

In [17]:
import pickle

with open('../data/full_race_data.pickle', 'wb') as file:
    pickle.dump(full, file)

In [18]:
full.head(50)

,track_id,race_date,race_number,program_number,horse_id,weight_carried,jockey,odds,finishing_place,horse_name,...,distance_id,run_up_distance,trakus_index,seg_dist_ft,seg_speed_ft/s,seg_mph,cum_dist_ft,avg_speed_ft/s,avg_mph,seg_accel_ft/s2
0,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,1,1.734709,6.938836,4.731024,1.734709,6.938836,4.731024,NaN
1,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,2,2.408953,9.635811,6.569871,4.143662,8.287323,5.650448,10.787900
2,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,3,3.639469,14.557874,9.925823,7.783130,10.377507,7.075573,19.688254
3,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,4,4.522462,18.089850,12.333988,12.305593,12.305593,8.390177,14.127902
4,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,5,5.894653,23.578613,16.076327,18.200246,14.560197,9.927407,21.955053
5,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,6,6.820300,27.281199,18.600817,25.020546,16.680364,11.372975,14.810343
6,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,7,8.303640,33.214559,22.646290,33.324185,19.042392,12.983449,23.733441
7,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,8,9.376644,37.506575,25.572665,42.700829,21.350414,14.557101,17.168064
8,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,9,9.459504,37.838018,25.798649,52.160333,23.182370,15.806162,1.325773
9,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,10,10.503063,42.012251,28.644716,62.663396,25.065358,17.090017,16.696931
10,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,11,11.621558,46.486233,31.695159,74.284954,27.012711,18.417757,17.895929
11,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,12,11.926523,47.706092,32.526881,86.211477,28.737159,19.593518,4.879436
12,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,13,12.559809,50.239237,34.254025,98.771287,30.391165,20.721249,10.132578
13,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,14,12.510526,50.042105,34.119617,111.281813,31.794804,21.678275,-0.788526
14,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,15,13.636212,54.544848,37.189669,124.918025,33.311473,22.712368,18.010970
15,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,16,13.235945,52.943778,36.098031,138.153969,34.538492,23.548972,-6.404277
16,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,17,13.534960,54.139841,36.913528,151.688930,35.691513,24.335122,4.784250
17,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,18,14.221083,56.884332,38.784772,165.910013,36.868892,25.137881,10.977965
18,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,19,14.762837,59.051347,40.262282,180.672849,38.036389,25.933902,8.668059
19,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,20,14.875298,59.501190,40.568993,195.548147,39.109629,26.665656,1.799374
20,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,21,14.777041,59.108164,40.301021,210.325188,40.061941,27.314959,-1.572105
21,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,22,14.851578,59.406310,40.504303,225.176766,40.941230,27.914475,1.192585
22,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,23,15.507724,62.030894,42.293791,240.684489,41.858172,28.539663,10.498335
23,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,24,15.655389,62.621557,42.696516,256.339878,42.723313,29.129532,2.362650
24,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,25,16.065447,64.261788,43.814856,272.405325,43.584852,29.716945,6.560926
25,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,26,16.291911,65.167646,44.432486,288.697237,44.414960,30.282927,3.623431
26,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,27,16.272306,65.089224,44.379016,304.969543,45.180673,30.805004,-0.313690
27,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,28,16.117871,64.471483,43.957829,321.087413,45.869630,31.274748,-2.470963
28,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,29,16.448715,65.794862,44.860133,337.536129,46.556707,31.743210,5.293515
29,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,30,16.898328,67.593311,46.086349,354.434457,47.257928,32.221314,7.193799
30,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,31,16.865985,67.463942,45.998142,371.300442,47.909734,32.665728,-0.517479
31,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,32,16.899239,67.596956,46.088834,388.199681,48.524960,33.085200,0.532058
32,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,33,16.571274,66.285098,45.194385,404.770956,49.063146,33.452145,-5.247433
33,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,34,16.975176,67.900704,46.295934,421.746131,49.617192,33.829904,6.462424
34,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,35,16.959078,67.836310,46.252030,438.705209,50.137738,34.184821,-0.257574
35,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,36,16.972888,67.891553,46.289695,455.678097,50.630900,34.521068,0.220969
36,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,37,17.327952,69.311808,47.258051,473.006049,51.135789,34.865311,5.681021
37,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,38,17.134783,68.539133,46.731227,490.140832,51.593772,35.177572,-3.090698
38,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,39,17.145063,68.580254,46.759264,507.285896,52.029323,35.474538,0.164482
39,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,40,17.352215,69.408861,47.324223,524.638111,52.463811,35.770780,3.314430
40,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,41,17.080227,68.320908,46.582438,541.718338,52.850570,36.034479,-4.351811
41,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,42,17.188492,68.753968,46.877705,558.906830,53.229222,36.292651,1.732238
42,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,43,17.120094,68.480377,46.691166,576.026924,53.583900,36.534477,-1.094363
43,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,44,17.588747,70.354990,47.969311,593.615672,53.965061,36.794360,7.498451
44,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,45,17.289204,69.156814,47.152373,610.904875,54.302656,37.024538,-4.792702
45,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,46,17.220018,68.880073,46.963686,628.124893,54.619556,37.240606,-1.106966
46,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,47,17.754429,71.017718,48.421171,645.879323,54.968453,37.478491,8.550581
47,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,48,17.166787,68.667148,46.818510,663.046110,55.253842,37.673074,-9.402280
48,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,49,17.413064,69.652254,47.490173,680.459173,55.547688,37.873423,3.940426
49,AQU,2019-01-01,1,1,1,123.0,Dylan Davis,130.0,2,Sounds Delicious,...,650,36,50,17.455591,69.822364,47.606158,697.914765,55.833181,38.068078,0.680440